main header {
  margin-bottom: 1em;
  background-color: rgb(241, 240, 240);
  padding: 0.5em;
  display: grid;
  grid-template-columns: auto auto 1fr auto auto auto;

}

main header>* {
  display: inline-block;
}

.bolge {
  display: grid;
  padding: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(75px, 100px));
  border: 1px solid rgb(209, 206, 206);
  margin-bottom: 1em;
  border-radius: 3px;
}

.bolge>* {
  background-color: rgb(212, 212, 233);
  border-radius: 3px;
  margin: 0.5em;
  padding: 0.5em;
}

.masa {
  display: grid;
  gap: 1em;
  padding: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
  border: 1px solid rgb(209, 206, 206);
  border-radius: 3px;
}

.selected {
  background-color: rgb(204, 175, 231);
}

.selected_section {
  border-color: #CCE2FF;
}

.masa>* {
  background-color: rgb(212, 212, 233);
  border-radius: 3px;
  margin: 0.5em;
  padding: 0.5em;
  width: 150px;
  height: 150px;
}

/*
#CCE2FF
*/