main header {
  margin-bottom: 1em;
  background-color: rgb(241, 240, 240);
  padding: 0.5em;
}

.bolge {
  display: grid;
  padding: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  border: 1px solid  rgb(209, 206, 206);
  margin-bottom: 1em;
}

.bolge > * {
  background-color: rgb(212, 212, 233);
  border-radius: 3px;
  margin: .5em;
  padding: .5em;
}

.masa {
  display: grid;
  padding: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border: 1px solid rgb(209, 206, 206);
}

.selected{
  background-color: blueviolet;
}

.masa > * {
  background-color: rgb(212, 212, 233);
  border-radius: 3px;
  margin: .5em;
  padding: .5em;
}