:root {
  --background: #eff0f1;
}

.dashboard {
  min-height: 100vh;
  display: grid;
  grid-gap: 1em;
  grid: 'header'auto 'nav'auto 'main'1fr 'footer'auto / 1fr;
}

@media (min-width: 40em) {
  .dashboard {
    grid: 'header header'auto 'nav main'1fr 'nav footer'auto / 15em 1fr;
  }
}

.dashboard>header {
  grid-area: header;
}

.dashboard>nav {
  grid-area: nav;
}

.dashboard>main {
  grid-area: main;
}

.dashboard>footer {
  grid-area: footer;
}

/* show… */
.dashboard>body {
  background: #eff0f1;
}

.dashboard>header,
.dashboard>nav,
.dashboard>main,
.dashboard>footer {
  background: var(--background);
  padding: 1em;
}

.dashboard>h1 {
  font-family: var(--zilla);
}