#loginpage {
  display: grid;
  grid-gap: 1em;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
}

#loginForm {
  min-width: 450px;
}

#loginForm h2 {
  text-align: center;
  color: teal;
}